/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.person-info,
.person-address,
.person-contact dl {
    float: left;
    width:50%;
}

.person-contact {
    clear: both;
}

.as-attendance.groups-list {
    margin-left: 1.25em;
}

.as-attendance .closed {
    display: none;
}

.single-as-registry article,
.single-as-person article {
    max-width: 1024px;
    margin: 30px auto;
}
