/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.as-attendance-admin ul {
    list-style-type: disc;
    margin-left: 1.5em; /* which should give space for the disc to show */
}

.attendees-table .attendee-annotation.closed {
    display: none;
}

.wp-admin.post-type-as-person .actions,
.wp-admin.post-type-as-registry .actions
{
    float:none;
}

.wp-admin.post-type-as-registry .tablenav .actions div.postform,
.wp-admin.post-type-as-registry .tablenav .actions input,
.wp-admin.post-type-as-person .tablenav .actions input
{
    float: left;
    height: 28px;
    margin-right: 6px;
}

#wp-admin-bar-new-as-registry,
.post-type-as-registry .page-title-action {
    display: none;
}